<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
</head>

<body>
    <div class="container text-3xl bg-red-200  p-10 mx-auto mt-4">
        <!--data-th-text and th:text both can be used -->
        <h1>Welcome, <span class="text-2xl font-mono" th:text="${name}">Name</span></h1>
        <a th:href="${leetcode}"><button class="px-1 py-1 rounded bg-blue-700 text-white hover:bg-red-400">Visit my
                LeetCode Profile</button></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In accusamus quod voluptatum quia dolorem, quibusdam
            </p>
    </div>
    <!-- flow bite content -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>